<div class="center hero-unit">
  <h1>Welcome to Smmobe</h1>
  <h2>Smart Mobile Messages</h2>
  <% if !signed_in? %>
      <%= link_to "Sign-up now!", signup_path, class: "btn btn-large" %>
  <% end %>
</div>
