<table class="table table-striped">
  <thead>
  <tr>
    <th>Text</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @messages.each do |message| %>
      <tr>
        <td colspan="2"><%= message.text %></td>
      </tr>
  <% end %>
  </tbody>
</table>