<h1>Define message</h1>

<%= render 'campaigns/steps', :locals => {:step1 => "passed",
                                :step2 => "selected",
                                :step3 => "dimmed"} %>


<%= render 'form' %>
