<ul class="nav nav-tabs" role="tablist">
  <li class="<%= locals[:list] %>">
  	<%= link_to 'Customers list', campaign_customers_path %>
  </li>
  <li class="inactive disabled">
  	<%= link_to 'Integration to CRM', '#', disabled: true %>
  </li>
</ul>		