<%= render 'campaigns/steps_header' %>

<div class="row customers">
  <div class="span8">
    <%= render 'form' %>
  </div>
  <div class="span4 phone">
    <%= render 'campaigns/phone' %>
  </div>
</div>