<h1>Add customers</h1>

<%= render 'campaigns/steps', :locals => {:step1 => "passed",
                                          :step2 => "passed",
                                          :step3 => "selected"} %>

<%= render 'form' %>

<% if !@campaign_customers.nil? && @campaign_customers.count > 0 %>
    <h2>Customers list:</h2>
    <%= render 'customers' %>

    <input class="btn" name="commit" type="submit" value="Next"
           onclick="location.href='/review/<%= flash[:campaign_id] %>'"/>
<% end %>

