<h1>Sending</h1>

<p>Message text:
  <% @messages.each do |message| %>
      <%= message.text %>
  <% end %>

</p>

<p>Sending to number of customers: <%= @campaign_customers.count %><p>

<h2>Progress</h2>

<div>
  <% @progress.each do |error_msg| %>
    <p><%= error_msg %></p>
  <% end %>
</div>