<div class="device-mockup iphone5 portrait white">
  <div class="device">
    <div class="screen">
      <!-- PUT CONTENTS HERE -->

      <% if (current_page?(:controller => 'campaigns', :action => 'new') || 
            controller.controller_name == 'campaigns' && controller.action_name == 'edit') %>
        <div class="greeting">
          Start building your message
        </div>  
      <% else %>
        <div class="baloonTo">
          <%= flash[:message_text] %>
        </div>      
      <% end %>
    </div>
    <div class="button">
      <!-- You can hook the "home button" to some JavaScript events or just remove it -->
    </div>
  </div>
</div>

<script>

  var dirPhone = $('.baloonTo');
  $(document).ready(function(e) { changePhoneDirection(); });   

  function changePhoneDirection() {
    if (isRTL(dirPhone.text())) {
      dirPhone.css('direction', 'rtl');
    }    
    else {
      dirPhone.css('direction', 'ltr');
    }
  }
</script>