<div class="progress">
  <div class="bar" id="<%= locals[:step1] %>" style="width: 33.33%;">
    1. Type
  </div>
  <div class="bar" id="<%= locals[:step2] %>" style="width: 33.33%;">
    2. Content
  </div>
  <div class="bar" id="<%= locals[:step3] %>" style="width: 33.33%;">
    3. Distribution
  </div>
</div>