	<div class="span2 center">
	<%= image_tag("step1_" + locals[:step1] + ".png"); %>
		<p>Type</p>
	</div>
	<div class="span2 center">
		<%= image_tag("step2_" + locals[:step2] + ".png"); %>
		<p>Content</p>
	</div>
	<div class="span2 center">
		<%= image_tag("step3_" + locals[:step2] + ".png"); %>
		<p>Distribution</p>
	</div>