	<div class="span1 center step1">
	<%= image_tag("step1_" + locals[:step1] + ".png"); %>
		<p>Type</p>
	</div>
	<div class="span1 center step2">
		<%= image_tag("step2_" + locals[:step2] + ".png"); %>
		<p>Content</p>
	</div>
	<div class="span1 center step3">
		<%= image_tag("step3_" + locals[:step3] + ".png"); %>
		<p>Distribution</p>
	</div>