<h1>Editing campaign</h1>

<%= render 'steps', :locals => {:step1 => "selected",
                                :step2 => "dimmed",
                                :step3 => "dimmed"} %>

<%= render 'form' %>
