/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .nav {
      margin:0; padding:0;
  }
  .nav .nav-tabs ul {
      margin:0; padding:0;
  }
  .nav .nav-tabs ul li {
      margin:0; padding:0;
  }

  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover,
  .nav-tabs > .active > a:focus {
    color: #3c8ee0;
  }

  .nav-tabs > .inactive > a,
  .nav-tabs > .inactive > a:hover,
  .nav-tabs > .inactive > a:focus {
    color: #135faa;
    background-color: #dcedff;
    border: 1px solid #3a8ee6;
    border-bottom-color: transparent;
    cursor: pointer;
  }

  .nav-tabs > .disabled > a,
  .nav-tabs > .disabled > a:hover,
  .nav-tabs > .disabled > a:focus {
    color: lightgray;
    background-color: #ececec;
    border: 1px solid lightgray;
    border-bottom-color: transparent;
    cursor: default;
  }

  .tab-block {
    padding: 15px;
    background-color: #fff;    
    min-height: 400px;
    border: 1px solid #ddd;
    border-top-color: transparent;
  }

  .tab-block-full
  {
    padding: 15px;
    background-color: #fff;    
    min-height: 400px;
    border: 1px solid #ddd;
  }
  .phone {
    padding-top: 0px;
    margin-top: -10px;
  }

  .button {
    padding-top: 10px;
  } 
  
.btn-next {
  color: white;
  font-size: 18px;
  padding: 8px 20px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #17b4b6, #17b4b6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#17b4b6), to(#17b4b6));
  background-image: -webkit-linear-gradient(top, #17b4b6, #17b4b6);
  background-image: -o-linear-gradient(top, #17b4b6, #17b4b6);
  background-image: linear-gradient(to bottom, #17b4b6, #17b4b6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF17b4b6', endColorstr='#FF17b4b6', GradientType=0);
  border-color: #17b4b6 #17b4b6 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #17b4b6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 513, /Users/david/.rvm/gems/ruby-2.1.2/gems/bootstrap-sass-2.3.2.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-next:hover, .btn-next:focus, .btn-next:active, .btn-next.active, .btn-next.disabled, .btn-next[disabled] {
  color: white;
  background-color: #17b4b6;
  *background-color: #499249;
}
/* line 521, /Users/david/.rvm/gems/ruby-2.1.2/gems/bootstrap-sass-2.3.2.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-next:active, .btn-next.active {
  background-color: #408140 \9;
}