@import "bootstrap";

$baseFontColor: #5c5c5c;
$baseBackgroundColor: #edeff2;
$baseBorderColor: #cecece;

.customers {
	.add_customer input {
		width: 32%;
	}
}

.span8 {
	margin-left: 0px !important;
}	

