@import "bootstrap";

/* mixins, variables, etc. */

$baseFontColor: #5c5c5c;
$baseBackgroundColor: #edeff2;
$baseBorderColor: #cecece;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  background-image: image-url("background.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: $baseBackgroundColor;      
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  color: $baseFontColor;
}

.center {
  text-align: center;
}

/* typography */

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
p {
  padding: 5px;
}

/* header */
/** topmenu **/
header {
 .submenu {
      position: relative;
      background-color: #fff;
      border-bottom: 2px solid $baseBorderColor;
      top:40px;
      min-height: 80px;
      padding: 6px 5px 0px 8px;
      .logo { float:left; }
      .buttons {
        float:right;
        padding: 26px 0 0 0;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;      
        li { 
          display: inline; 
           a {
            padding: 0px 25px;
            color: #626262;
            text-decoration: none;
            font-size: 19px;
            }
            a:hover { color: #00a5a7; }
        }
      }     
    } 
  }
}

/* section */   
section {
  clear:both;
  position: relative;
  top:40px;
  background-color: $baseBackgroundColor;
  min-height: 600px; 
  padding:5px;    
}

/* footer */
footer {
  clear:both;
  position: relative;
  top:40px;
  height: 20px;
  text-align: center;
}

.steps_header h1 { 
  font-size: 25px; 
  margin: 5px 0 10px 0;
}

/* campaign */
.campaign
{
  .steps {
    .numbers {
      p { font-size: 15px; }
    }
    .button {
      padding-top: 10px;
    } 
  }
  .types {
    background-color: #fff;
    padding: 24px;
    border: 1px solid $baseBorderColor;
    h4 {
      margin: 0px;
    }
    .row {
      .enabled {
        margin-top: 20px;
        width: 125px;
        height: 125px;
        border: 1px solid $baseBorderColor;
        background-color: $baseBackgroundColor;
        div {
          padding-top: 20px;
        }
      }
      .enabled:hover {
        width: 123px;
        height: 123px;
        border: 2px solid #0b5dac;
        cursor: pointer;
      }
      .selected {
        width: 123px;
        height: 123px;
        border: 2px solid #0b5dac;
        background-color: #e9f0fb;
      }
      .disabled {
        margin-top: 20px;
        width: 125px;
        height: 125px;
        border: 1px solid $baseBorderColor;
        background-color: $baseBackgroundColor;
        div {
          padding-top: 20px;
        }
      }
    }
  } 
  #campaign_title {
    width: 100%;
  }
  .phone {
    padding-top: 45px;
  }
}


/* miscellaneous */

.btn-green {
  color: white;
  font-size: 18px;
  padding: 8px 20px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #17b4b6, #17b4b6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#17b4b6), to(#17b4b6));
  background-image: -webkit-linear-gradient(top, #17b4b6, #17b4b6);
  background-image: -o-linear-gradient(top, #17b4b6, #17b4b6);
  background-image: linear-gradient(to bottom, #17b4b6, #17b4b6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF17b4b6', endColorstr='#FF17b4b6', GradientType=0);
  border-color: #17b4b6 #17b4b6 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #17b4b6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 513, /Users/david/.rvm/gems/ruby-2.1.2/gems/bootstrap-sass-2.3.2.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {
  color: white;
  background-color: #17b4b6;
  *background-color: #499249;
}
/* line 521, /Users/david/.rvm/gems/ruby-2.1.2/gems/bootstrap-sass-2.3.2.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-green:active, .btn-green.active {
  background-color: #408140 \9;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
   text-align: left;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error {
  color:red;
}


/* campaign steps */
.progress {
  #selected {
    font-weight: bold;
    font-size: 16px;
  }
  #passed {

  }
  #dimmed {
    color: #BBBBBB;
  }
}