@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  background-image: image-url("background.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: #edeff2;      
  font-family: "Lucida Grande";
  font-size: 12px;
  color: #5c5c5c;
  text-align: center;  
}
.container {
  margin: auto;
  width: 1000px;
  text-align: left;
}

.center {
  text-align: center;
}

/* typography */

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
p {
  padding: 5px;
}

/* header */
/** topmenu **/
header {
  .topmenu {
    padding: 5px 5px;     
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: right;
      li { 
        display: inline; 
        a {
          padding: 0 5px;
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          font-weight: normal;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
 .submenu {
      height: 87px;
      padding: 6px 5px 0px 8px;
      .logo { float:left; }
      .buttons {
        float:right;
        padding: 26px 0 0 0;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;      
        li { 
          display: inline; 
           a {
            padding: 0px 25px;
            color: #626262;
            text-decoration: none;
            font-size: 19px;
            }
            a:hover { color: #00a5a7; }
        }
      }     
    } 
  }
}


/* section */   
section {
  background-color: #edeff2;
  min-height: 600px; 
  padding:5px;    
  .main {
    width:70%;
    min-height: 600px;
    float: left;
  }
  .side {
    min-height: 600px;
    float: right;
  }
}

/* footer */
footer {
  height: 20px;
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
   text-align: left;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error {
  color:red;
}


/* campaign steps */
.progress {
  #selected {
    font-weight: bold;
    font-size: 16px;
  }
  #passed {

  }
  #dimmed {
    color: #BBBBBB;
  }
}