@import "bootstrap";

$baseFontColor: #5c5c5c;
$baseBackgroundColor: #edeff2;
$baseBorderColor: #cecece;

.customers {
	h3 {
		margin: 0;
		padding: 0;
	}
}

.add_customer input {
	width: 147px;
	margin-top: 3px;	
}

.span8 {
	margin-left: 0px !important;
}	

.hiddenfile {
	 width: 0px;
	 height: 0px;
	 overflow: hidden;
}