@import "bootstrap";

/* mixins, variables, etc. */

$baseFontColor: #5c5c5c;
$baseBackgroundColor: #edeff2;
$baseBorderColor: #cecece;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  background-image: image-url("background.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: $baseBackgroundColor;      
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  color: $baseFontColor;
}

.center {
  text-align: center;
}

/* typography */

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
p {
  padding: 5px;
}

/* header */
/** topmenu **/
header {
 .submenu {
      position: relative;
      background-color: #fff;
      border-bottom: 2px solid $baseBorderColor;
      top:40px;
      min-height: 80px;
      padding: 6px 5px 0px 8px;
      .logo {
        float:left;
        padding-right: 10px;
        img {
          width: 70px;
        }
        a:hover {
          text-decoration: none;
        }
      }
     .brandname {
       font-family: 'Raleway';
       float:left;
       color: #26a9e0;
       font-size: 30pt;
       font-weight: bold;
       span {
         padding-top: 20px;
         display: block;
       }
       .brandname-subtitle{
         padding-top: 10px;
         color: #a4a6a9;
         font-size: 10pt;
         text-transform: uppercase;
         font-weight: normal;
         letter-spacing: 0.2pt;
       }
      }
      .buttons {
        float:right;
        padding: 26px 0 0 0;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;      
        li { 
          display: inline; 
           a {
            padding: 0px 25px;
            color: #626262;
            text-decoration: none;
            font-size: 19px;
            }
            a:hover { color: #00a5a7; }
        }
      }     
    } 
  }
}

/* section */   
section {
  clear:both;
  position: relative;
  top:40px;
  background-color: $baseBackgroundColor;
  min-height: 600px; 
  padding:5px;    
}

/* footer */
footer {
  clear:both;
  position: relative;
  top:40px;
  height: 20px;
  text-align: center;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
   text-align: left;
  @include box_sizing;
}

/* forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error {
  color:red;
}


/* campaign steps */
.progress {
  #selected {
    font-weight: bold;
    font-size: 16px;
  }
  #passed {

  }
  #dimmed {
    color: #BBBBBB;
  }
}