@import "bootstrap";

$baseFontColor: #5c5c5c;
$baseBackgroundColor: #edeff2;
$baseBorderColor: #cecece;

.message {
	.message_text textarea {
		width: 100%;
		height: 100px;
	}
}

.dynamic_params ul {
	list-style-type: none; 
	margin:0;
}

.dynamic_params ul li {
	display: inline;
}

.dynamic_params ul li a 
{
	border: 1px solid #3a8ee6;
	background-color: #dcedff;
	text-decoration: none;
	cursor: pointer;
	padding: 2px;
}

